*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.bg{
    background-color: #202529;
    
}

.navbar{
    background-color: #32383D;
    text-align: center;
    
}

.navbar-brand{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    
}

.navbar-brand:hover{
    color: #1BC6B4;
}

#send{
    border-radius: 50%;
    margin-left: 7px;
    border: none;
    background-color: #1BC6B4;
}

#msg-box{
    border-radius: 25px;
    border: none;
    
}

#card-heading{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 15px 15px 0px 0;
    background-color: #4C555C;
}

#form{
    border-radius: 0px 0px 15px 15px;
}

#form{
    background-color: #4C555C;
}

#msgWindow {
    margin: 20px 0 20px 0;
    height: 500px;
    border: none;
    border-radius: 15px;
    background-color: #202529;
    
}
#msgs , #rules{
    
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #32383D;
    
}




.msg {
    margin: 5px 0;
    
    padding: 3px 17px;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 10px;
    
    
}

}
.msg::before {
    right: -20px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}
.msg::after {
    right: -35px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    
}
.msg.from {
    align-self: flex-end;
    background-color: #BB86FC;
    border: none;
    color: white;
    border-radius: 25px;
    
    
}
.msg.to {
    align-self: flex-start;
    background-color: #1BC6B4;
    border: none;
    color: white;
    border-radius: 25px;
}
.msg.to::before {
    right: inherit;
    left: -20px;
}
.msg.to::after {
    right: inherit;
    left: -35px;
}
.msg.typing {
    color: silver;
}
#msgForm input:focus, #msgForm button:focus {
    box-shadow: none;
}

#msg-box{
    font-size: 0.6rem;
    background-color: #A1B4C4;
    color: white;
}

#rulesWindow {
    
    margin: 20px 0 20px 0;
    background-color: #202529;
    max-height: 500px;
    border: none;
    width: auto;
    border-radius: 15px;
    
}

#rules{
    border-radius: 0 0 15px 15px;
    color: #A1B4C4;
    
    font-size: 0.9rem;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  #gameWindow {
    
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #202529;
    width: 375px;
    height: 325px;
    border: none;
    border-radius: 15px;
    
}

.grid{
   display: grid;
   grid-template-columns: repeat(7,50px);
   grid-template-rows: repeat(6,50px);
   width: 350;
   height: 300px;
   margin: auto;
   
   justify-content: center;
   

}

.cell{
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.cell:hover{
    background-color: #BB86FC;
}





#invite-btn{
    background-color: #BB86FC;
    border: none;
    

}

@media screen and (max-width: 400px){

    #gameWindow{
        width: 270px;
        height: 235px;

    }

    .grid{
        grid-template-columns: repeat(7,35px);
        grid-template-rows: repeat(6,35px);
        width: 245px;
        height: 210px;

    }

    
    